footer {
  text-align: center;
}
footer img {
  width: 80px;
}

footer ul {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  list-style: none;
}

footer ul li,
p {
  color: rgba(192, 192, 192, 0.8);
  font-size: 12px;
  margin: 0;
}
footer p {
  margin-bottom: 40px;
}
